

button{
    width:100%;
    max-width: 50%;
    border:1px solid lightblue;
    margin-top:5%;
    display:block;
}

.container-form{
    display:flex;
    align-items: center;
    justify-content: center;
    padding-top:5%;
    flex-direction: column;
    width:100%;
    max-width: 100%;

}
h1{
    font-size:20px;
    
}

label{
    font-size:18px;
    display:block;
    margin:auto;
}
input:focus{
    border:1px solid lightblue;
}

input{
    border:1px solid blue;
    margin-bottom:3%;
}